.row {
  margin-right: 5px; 
  margin-left: 5px; 
}

.transportInput {
	margin: 20px 0; 
}

@media only screen and (max-width : 992px) { 
  .col-xs-1, .col-sm-1,  .col-xs-2, .col-sm-2 {
  	padding: 0;
  }

  .transportLabels {
    margin: 0 3px;
  }


}
