<navbar></navbar>
<div id='top'>
  <div class="container addTripHead">		
    <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
	  	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	  	  <img src="assets/img/profile/button.png" class="btnAddTrip" (click)='manipulate.newTrip()'>
	  	</div>
	  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	    <h3 class="forBigScreen">START</h3>
	    <h4 class="forBigScreen">BY ADDING YOUR TRIP</h4>
	    <h4 class="forSmallScreen">ADD NEW TRIP</h4>
	    </div>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 bodyMain">
	    <h1>WELCOME TO WANDERLUST!</h1>
	    <p class="forBigScreen">This website will help you organize, plan and budget your journey.</p>
	    <p class="forBigScreen">Add your trip, select multiple cities, upload your bookings, manage your budget,<br> store your tickets and organize your trip's timeline.</p>
	    <p class="forSmallScreen text-left">This website will help you organize, plan and budget your journey.
	    Add your trip, select multiple cities, upload your bookings, manage your budget, store your tickets and organize your trip's timeline.</p>

	    <p class="text-right"> <span>Your journey begins now, with Wanderlust.</span></p>
	  </div>	
    </div>
  </div>
</div>
<div class="bottom forBigScreen">
  <div class="container">  
    <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 moveBlock">
        <h2>WANDERLUST MOBILE APP</h2>
	    <p class="move">Our team is working on a mobile app that will allow you to:</p>
	    <ul>
		  <li>plan and organize your trips</li>
		  <li>collect your travel documents in one place</li>
		  <li>manage your budget</li>
		  <li>communicate with your friends and trip companions</li>
		  <li>easily discover new routes and satisfy your wanderlust</li>
	    </ul>
	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	    <div class="point text-center">
		  <img src="assets/img/profile/wifi.png">
	      <p>OFFLINE<br> MODE</p>	  	
	    </div>
	    <div class="point text-center">
		  <img src="assets/img/profile/hand.png">
		  <p>FLUID<br> DESIGN</p>	  	
	    </div>
	    <div class="point text-center">
		  <img src="assets/img/profile/tick.png">
		  <p>RELIABLE<br> SERVICE</p>	  	
	    </div>
	    <img id="phone" src="assets/img/profile/webApp.png">
	  </div>
    </div>
  </div>
</div>
