.accommodationComponent{
	color: #282828;	
}
.title {
	display: inline-block;
	background-color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;	
    padding: 7px;	
}


.title h5{
	color: black;
	font-weight: bold;
	margin: 0;
	padding-bottom: 5px;		
}

.title p{
	margin-bottom: 0;
	font-weight: bold;
	font-size: 10px;
	color: black;
}


.main {
	background-color: rgb(247, 205, 219);
	text-align: left;
	padding: 10px;
}

.main h5 {
	font-weight: bold;
	font-size: 12px;
    margin: 4px 0;	
}

.main h4 {
	font-weight: bold;	
    font-size: 18px;
    margin: 2px 0;
}
.main p {
    font-size: 9px;
    font-weight: 600;
	margin-bottom: 0;	
}

hr {
	margin: 10px 0;
}

.bottom{
    width: 100%;
	background-color: white; 
	height: 30px;   
}

.bottom p {
	display: inline-block;
	font-weight: bold;
    margin: 8px;
    font-size: 9px;
}
.bottom img {
  width: 15px;
  margin: 8px;
  cursor: pointer;
}
.map {
	color: white;
    font-size: 10px;
	padding-right: 10px;
	text-decoration: underline;  
	text-align: right; 
	cursor: pointer; 	
}
